//  colors 
$main_color : #1e2d51;
$color_1    : #ffffff;
$color_2    : #7788b0;
$color_3    : #ec7c22;
$color_4    : #bdbdbd;
$color_5    : #eff0f3;
$color_6    : #d7422a;

// button
$height_btn:49px;

// font

$font_s  : 16px;
$font_b  : 700;