body {
    font-family     : "Montserrat";
    font-weight     : normal;
    overflow-x      : hidden;
}
.ul_gh {
    list-style: none;
    padding    : 0;
    margin     : 0;
  }
  .m_P_gh {
    padding : 0;
    margin  : 0;
  }
  .anc_gh {
    display: inline-block;
  }
  .anc_gh:hover {
    text-decoration: none;
  }
  .btn_gh {
    border          : none;
    padding         : 0;
    background-color: transparent;
    border          : none;
    display         : block;
    cursor          : pointer;
    outline         : none !important;
    transition      : 0.5s;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 100px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color_3; 
  }
  
  .loading-img {
    background-color: #fafafa !important;
    position: relative;
    overflow: hidden;
  }
  
  .loading-img img {
    opacity: 0 !important;
    -webkit-filter: blur(40px);
            filter: blur(40px);
  }
  
  .loaded-img img {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }